
{
  "testrail": 
  {
    "domain": "https://julyservicesqa.testrail.io/",
    "username": "aafahad@julyservices.com",
    "password": "I28hL651crvRomR7x.x7-uxXuC5G0WB0pinZm1GSK",
    "runId": "R2",
    "screenshots": true
  }
}

